# Make neovim the default editor.
export EDITOR='nvim';

# History options
export HISTFILE=~/.zsh_history
export HISTSIZE=100000
export SAVEHIST=100000
setopt HIST_IGNORE_DUPS   # Ignore duplicate commands
setopt HIST_IGNORE_ALL_DUPS  # Remove older duplicate commands from history
setopt HIST_REDUCE_BLANKS   # Remove superfluous blanks before storing commands in history
setopt HIST_VERIFY   # Edit a recalled history entry before executing
setopt SHARE_HISTORY  # Share history between all sessions
setopt INC_APPEND_HISTORY  # Append history incrementally
setopt HIST_SAVE_NO_DUPS   # Don’t write duplicate commands to the history file

# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Don't show the zshell message on login
export BASH_SILENCE_DEPRECATION_WARNING=1

# API keys
export ANTHROPIC_API_KEY="{{ (index (onepassword "aktbzrmt5tmafpm4iw7gnz45jm").fields 0).value }}"
